<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand">CINAYE-BURGER</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a routerLink="/home" routerLinkActive="active" class="nav-link active" ariaCurrentWhenActive="page">Dashboard</a>
          </li>
          <li class="nav-item">
            <a routerLink="/user" routerLinkActive="active" class="nav-link active" ariaCurrentWhenActive="page">Utilisateur</a>
          </li>
          <li class="nav-item">
            <a routerLink="/order" routerLinkActive="active" class="nav-link active" ariaCurrentWhenActive="page">Commande</a>
          </li>
          <li class="nav-item">
            <a routerLink="/burger" routerLinkActive="active" class="nav-link active" ariaCurrentWhenActive="page">Burger</a>
          </li>
          <li class="nav-item">
            <a routerLink="/payment" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-link active">Payement</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>

